EXPO_PUBLIC_SUPABASE_URL=''
EXPO_PUBLIC_SUPABASE_ANON_KEY=''
SUPABASE_SERVICE_ROLE_KEY=''

EXPO_PUBLIC_AZURE_CLIENT_ID=''
EXPO_PUBLIC_AZURE_TENANT_ID=''

EXPO_PUBLIC_FDC_API_KEY=''

EXPO_PUBLIC_FATSECRET_API_KEY=
EXPO_PUBLIC_FATSECRET_API_SECRET=

EXPO_PUBLIC_FATSECRET_CLIENT_ID=
EXPO_PUBLIC_FATSECRET_CLIENT_SECRET=