# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
**/.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

.examples/

# Supabase
supabase/.temp/
.supabase-setup/
lib/supabase-setup/*.sql

# iOS and Android build folders
ios/
android/

# Documentation
XCODE_TESTFLIGHT.md